In [1]:
from PIL import Image

In [2]:
path1 = 'F:/Library/Analytics Path/Datasets/02_CNN_Eg2/data/'

In [3]:
path2 = 'F:\\Library\\Analytics Path\\Datasets\\02_CNN_Eg2\\preped_data'

In [4]:
import os

In [5]:
listing1 = os.listdir(path1)

In [6]:
for file in listing1:
    im = Image.open(path1+'\\'+file)
    img = im.resize((150,150))
   # gray = img.convert('L')
                #need to do some more processing here           
   # gray.save(path2 +'\\' +  file, "JPEG")
    img.save(path2+'\\'+file,"JPEG")# does not convert png into jpeg

In [8]:
from numpy import array

In [9]:
im1matrix = array([array(Image.open(path2+'\\'+im2)) for im2 in listing1],'f')# 'f' is datatype

In [10]:
im1matrix.shape

(1000, 150, 150, 3)

In [11]:
#one step importing
listing1 = os.listdir(path1)

In [12]:
im2matrix = array([array(Image.open(path1+'\\'+im2).resize((150,150)).convert('L')) for im2 in listing1],'f')

In [13]:
im2matrix.shape

(1000, 150, 150)

In [ ]:
#scaling
im2matrix /= 255

In [45]:
im3matrix = array([array(Image.open(path1+'\\'+im2).convert('L')) for im2 in listing1],'f')

In [14]:
import os
os.chdir('F:\\Library\\Analytics Path\\Datasets\\02_CNN_Eg2')

In [16]:
import pandas as pd

In [17]:
y = pd.ExcelFile('labels.xlsx')

In [18]:
y.sheet_names

['Sheet1', 'Sheet2', 'Sheet3']

In [19]:
y = y.parse('Sheet1')

In [20]:
type(y)

pandas.core.frame.DataFrame

In [21]:
y.head()

   id       label
0   1        frog
1   2       truck
2   3       truck
3   4        deer
4   5  automobile

In [23]:
y.columns

Index(['id', 'label'], dtype='object')

In [24]:
del y['id']

In [25]:
y.head()

        label
0        frog
1       truck
2       truck
3        deer
4  automobile

In [26]:
y.dtypes

label    object
dtype: object

In [27]:
dummied_y = pd.get_dummies(y)

In [28]:
dummied_y.head()

,label_airplane,label_automobile,label_bird,label_cat,label_deer,label_dog,label_frog,label_horse,label_ship,label_truck
0,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,1,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0

In [29]:
import keras

Using TensorFlow backend.

In [34]:
from sklearn.model_selection import train_test_split

In [47]:
X_train,X_test,y_train,y_test = train_test_split(im3matrix,dummied_y)

In [48]:
X_train.shape

(750, 32, 32)

In [49]:
X_train = X_train.reshape(750,32,32,1)

In [50]:
X_train[1]

array([[[ 33.],
        [ 52.],
        [ 55.],
        ...,
        [144.],
        [141.],
        [ 85.]],

       [[ 40.],
        [ 55.],
        [ 45.],
        ...,
        [123.],
        [126.],
        [ 90.]],

       [[ 50.],
        [ 46.],
        [ 33.],
        ...,
        [153.],
        [137.],
        [ 86.]],

       ...,

       [[175.],
        [166.],
        [175.],
        ...,
        [204.],
        [208.],
        [218.]],

       [[167.],
        [170.],
        [172.],
        ...,
        [248.],
        [249.],
        [250.]],

       [[160.],
        [156.],
        [152.],
        ...,
        [248.],
        [247.],
        [248.]]], dtype=float32)

In [51]:
X_test = X_test.reshape(250,32,32,1)

In [37]:
from keras.models import Sequential
from keras.layers import Conv2D,Activation,MaxPooling2D,Dropout,Flatten,Dense

In [54]:
model = Sequential()
model.add(Conv2D(32, (2,2), padding='same',
                 input_shape= X_train.shape[1:]))
model.add(Activation('relu'))
model.add(Conv2D(32, (2,2)))
model.add(Activation('relu'))
# max pooling layer
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.25)) 
# default value of stride = 1
model.add(Conv2D(64, (2,2), padding='same'))
model.add(Activation('relu'))
model.add(Conv2D(64, (2,2)))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.25))
model.add(Flatten())
model.add(Dense(512))
model.add(Activation('relu'))
model.add(Dropout(0.5))
model.add(Dense(10))
model.add(Activation('softmax'))# the o/p of 10 neurons will be summed together
opt = keras.optimizers.rmsprop(lr=0.0001, decay=1e-6)
model.compile(loss='categorical_crossentropy',
              optimizer=opt,
              metrics=['accuracy'])

In [55]:
model.fit(X_train,y_train,batch_size = 50,epochs = 20)

Epoch 1/20
750/750 [==============================] - 3s 5ms/step - loss: 13.2363 - acc: 0.1053
Epoch 2/20
750/750 [==============================] - 3s 4ms/step - loss: 12.6513 - acc: 0.1040
Epoch 3/20
750/750 [==============================] - 3s 4ms/step - loss: 12.4458 - acc: 0.0827
Epoch 4/20
750/750 [==============================] - 3s 4ms/step - loss: 10.6824 - acc: 0.1027
Epoch 5/20
750/750 [==============================] - 4s 5ms/step - loss: 8.2894 - acc: 0.1027
Epoch 6/20
750/750 [==============================] - 3s 4ms/step - loss: 5.3205 - acc: 0.1253
Epoch 7/20
750/750 [==============================] - 3s 4ms/step - loss: 3.8116 - acc: 0.1213A: 2s - loss: 4.3877 -
Epoch 8/20
750/750 [==============================] - 3s 4ms/step - loss: 2.9891 - acc: 0.1093
Epoch 9/20
750/750 [==============================] - 3s 4ms/step - loss: 2.6391 - acc: 0.1213
Epoch 10/20
750/750 [==============================] - 3s 4ms/step - loss: 2.5443 - acc: 0.0960
Epoch 11/20
750/750 [==============================] - 3s 4ms/step - loss: 2.4314 - acc: 0.1067
Epoch 12/20
750/750 [==============================] - 4s 5ms/step - loss: 2.4221 - acc: 0.0987
Epoch 13/20
750/750 [==============================] - 4s 6ms/step - loss: 2.3615 - acc: 0.1267
Epoch 14/20
750/750 [==============================] - 4s 5ms/step - loss: 2.3746 - acc: 0.1227
Epoch 15/20
750/750 [==============================] - 3s 4ms/step - loss: 2.3703 - acc: 0.1227
Epoch 16/20
750/750 [==============================] - 3s 4ms/step - loss: 2.3353 - acc: 0.1240
Epoch 17/20
750/750 [==============================] - 3s 4ms/step - loss: 2.3504 - acc: 0.0960
Epoch 18/20
750/750 [==============================] - 3s 5ms/step - loss: 2.3349 - acc: 0.1173
Epoch 19/20
750/750 [==============================] - 3s 5ms/step - loss: 2.3119 - acc: 0.1200
Epoch 20/20
750/750 [==============================] - 3s 4ms/step - loss: 2.3307 - acc: 0.1160

In [56]:
preds = model.predict(X_test)

In [62]:
preds[:20,]

array([[0.10695065, 0.10149977, 0.10144503, 0.09198449, 0.10436647,
        0.09848872, 0.09452496, 0.10155217, 0.10169343, 0.09749428],
       [0.09812101, 0.10012903, 0.09979631, 0.10280757, 0.10590097,
        0.09369556, 0.09473784, 0.10886425, 0.09900446, 0.09694296],
       [0.10731617, 0.10456222, 0.09743408, 0.09891059, 0.09516804,
        0.09065988, 0.11392885, 0.10187927, 0.08949105, 0.10064983],
       [0.10575689, 0.11690541, 0.10850393, 0.10394993, 0.09407404,
        0.09487708, 0.09969103, 0.09239478, 0.0835973 , 0.10024953],
       [0.10374178, 0.10148455, 0.10076728, 0.09686438, 0.09929308,
        0.09316327, 0.10184029, 0.10188721, 0.09682339, 0.10413487],
       [0.10643741, 0.10269848, 0.09024795, 0.09866951, 0.10124485,
        0.0928198 , 0.09707882, 0.1002605 , 0.10337572, 0.107167  ],
       [0.08617948, 0.09755173, 0.09763175, 0.11004784, 0.0940526 ,
        0.09293047, 0.10796358, 0.10990946, 0.09059808, 0.11313501],
       [0.09253421, 0.10216132, 0.09894978, 0.09876958, 0.09891072,
        0.10109263, 0.10106426, 0.10745479, 0.09510141, 0.10396124],
       [0.09533171, 0.0960529 , 0.09903323, 0.10364006, 0.09545898,
        0.10274178, 0.10013282, 0.10939064, 0.09247056, 0.10574739],
       [0.09197091, 0.09584414, 0.09407955, 0.11582303, 0.0871628 ,
        0.10222165, 0.10425918, 0.11020912, 0.08667483, 0.11175472],
       [0.10062566, 0.10049912, 0.09649741, 0.1000355 , 0.09675992,
        0.09683923, 0.10010044, 0.10153308, 0.10488001, 0.10222969],
       [0.11223589, 0.09732037, 0.09711404, 0.09483718, 0.09539514,
        0.09171911, 0.09947694, 0.10323991, 0.10249045, 0.10617095],
       [0.10384313, 0.09864822, 0.09974502, 0.09982088, 0.12497138,
        0.10299093, 0.08802416, 0.09791733, 0.0958024 , 0.08823646],
       [0.11000243, 0.10769249, 0.09716815, 0.08333211, 0.11631428,
        0.07807674, 0.1070359 , 0.0816738 , 0.11542857, 0.10327557],
       [0.08526512, 0.09724828, 0.10733917, 0.09175973, 0.11181071,
        0.10007369, 0.10985829, 0.08819599, 0.1087025 , 0.09974664],
       [0.0990316 , 0.0907876 , 0.09776834, 0.11359069, 0.08071933,
        0.10548364, 0.10936499, 0.11505347, 0.08285049, 0.10534979],
       [0.09173829, 0.10002892, 0.10699332, 0.10318416, 0.09910858,
        0.08238593, 0.10417952, 0.10865623, 0.08544183, 0.11828322],
       [0.09262756, 0.10445283, 0.10024402, 0.10127965, 0.09607984,
        0.09742974, 0.10495842, 0.10468548, 0.09967978, 0.09856281],
       [0.11334494, 0.10442199, 0.09999763, 0.08745475, 0.0986313 ,
        0.08761152, 0.09551754, 0.10850831, 0.09463978, 0.10987225],
       [0.10409681, 0.10389148, 0.10359913, 0.09007929, 0.10245601,
        0.0931782 , 0.09554942, 0.10288553, 0.09923321, 0.10503093]],
      dtype=float32)

In [59]:
y_test.shape

(250, 10)

In [63]:
type(y_test)

pandas.core.frame.DataFrame

In [64]:
y_test.iloc[0:20,:]

,label_airplane,label_automobile,label_bird,label_cat,label_deer,label_dog,label_frog,label_horse,label_ship,label_truck
947,0,1,0,0,0,0,0,0,0,0
513,0,0,1,0,0,0,0,0,0,0
584,0,0,0,0,0,0,0,0,1,0
542,0,0,0,0,0,1,0,0,0,0
505,0,0,0,0,1,0,0,0,0,0
491,0,0,0,0,0,1,0,0,0,0
643,0,0,0,0,0,0,0,0,0,1
280,0,0,0,0,0,0,0,0,1,0
509,0,0,0,0,0,0,0,0,1,0
537,0,0,0,0,0,0,0,1,0,0
911,1,0,0,0,0,0,0,0,0,0
586,0,0,1,0,0,0,0,0,0,0
967,0,0,0,0,0,0,0,0,1,0
196,0,0,1,0,0,0,0,0,0,0
592,0,0,0,0,0,0,0,0,1,0
20,0,0,0,0,1,0,0,0,0,0
778,0,0,1,0,0,0,0,0,0,0
511,0,0,0,0,0,0,0,0,0,1
216,0,0,0,0,0,0,0,0,1,0
714,0,1,0,0,0,0,0,0,0,0